%body
  %header.row
    .col-sm-5
      %h3= t('Retries')
    - if retries.size > 0 && total_size > count
      .col-sm-4
        = render partial: 'frontkiq/shared/paging', locals: { total_size: total_size, count: count, current_page: current_page }
  - if retries.size > 0
    = form_tag frontkiq_delete_retries_url do
      %input.btn.btn-danger.btn-xs.pull-right{"data-confirm" => "#{t('AreYouSure')}", :name => "delete", :type => "submit", :value => "#{t('DeleteAll')}"}/
    = form_tag frontkiq_retry_retries_url do
      %input.btn.btn-danger.btn-xs.pull-right{"data-confirm" => "#{t('AreYouSure')}", :name => "retry", :type => "submit", :value => "#{t('RetryAll')}"}/
    = form_tag frontkiq_update_selected_retries_url do
      .table_container
        %table.table.table-striped.table-bordered.table-white
          %thead
            %tr
              %th.table-checkbox{:width => "20px"}
                %label
                  %input.check_all{:type => "checkbox"}/
              %th= t('NextRetry')
              %th= t('RetryCount')
              %th= t('Queue')
              %th= t('Job')
              %th= t('Arguments')
              %th= t('Error')
              %th= t('Actions')
          = render partial: 'entry', collection: retries
      %input.btn.btn-primary.btn-xs.pull-left{type: :submit, name: :do, value: 'retry'}
        = t('RetrySelected')
      %input.btn.btn-primary.btn-xs.pull-left{type: :submit, name: :do, value: 'delete'}
        = t('DeleteSelected')
      %input.btn.btn-primary.btn-xs.pull-left{type: :submit, name: :do, value: 'kill'}
        = t('KillSelected')
  - else
    .alert.alert-success= t('NoRetriesFound')
