- if params[:poll]
  -# %a#live-poll.btn.btn-primary.active{:href => "#{frontkiq_path + current_path}"}= t('StopPolling')
  %a#live-poll.btn.btn-primary.active{href: url_for}= t('StopPolling')
- else
  -# %a#live-poll.btn.btn-primary{:href => "#{frontkiq_path + current_path}?#{qparams(poll: true)}"}= t('LivePoll')
  %a#live-poll.btn.btn-primary{href: url_for(poll: true)}= t('LivePoll')
