= erb :_job_info, :locals => {:job => @retry, :type => :retry}
%h3= t('Error')
.table_container
  %table.error.table.table-bordered.table-striped
    %tbody
      %tr
        %th= t('ErrorClass')
        %td
          %code= @retry['error_class']
      %tr
        %th= t('ErrorMessage')
        %td= h(@retry['error_message'])
      - if !@retry['error_backtrace'].nil?
        %tr
          %th= t('ErrorBacktrace')
          %td
            %code= @retry['error_backtrace'].join("<br/>")
%form.form-horizontal{:action => "#{frontkiq_path}retries/#{job_params(@retry, @retry.score)}", :method => "post"}
  = csrf_tag
  %a.btn.btn-default{:href => "#{frontkiq_path}retries"}= t('GoBack')
  %input.btn.btn-primary{:name => "retry", :type => "submit", :value => "#{t('RetryNow')}"}/
  %input.btn.btn-danger{:name => "delete", :type => "submit", :value => "#{t('Delete')}"}/
