<!doctype html>
<html>
  <head>
    <title><%= environment_title_prefix %><%= Sidekiq::NAME %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <%= stylesheet_link_tag 'bootstrap.css' %>
    <%= stylesheet_link_tag 'application.css' %>
    <%= javascript_include_tag 'application.js' %>
    <%= javascript_include_tag "jquery.timeago.#{locale}" %>
    <meta name="google" content="notranslate" />
    <%= display_custom_head %>
  </head>
  <body class="admin">
    <%= erb :_nav %>
    <div id="page">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 summary_bar">
            <%= erb :_summary %>
          </div>

          <div class="col-sm-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%=  erb :_footer %>
    <%= erb :_poll_js %>
  </body>
</html>
